extends layout
block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-10

		div.container
			if user
				- var shows = user.series.map(function(c) { return c.seriesID })
			div.row
				div.col-md-4.offset-md-3
					img.pull-left(class="head" src='https://image.tmdb.org/t/p/w1000#{show.poster_path}')
				div.col-md-6.offset-md-1
					h1 #{show.name}
					p #{show.overview}
					if user
									if (shows.indexOf(show.id) === -1)
										form(action='/detail/' + user._id + "/" + show.id, method="post", role="form")
											.form-group
												input(type="submit" value="Follow").btn.btn-default
									else
										form(action='/detail/' + user._id + "/" + show.id, method="post", role="form")
											.form-group
												input(type="submit" value="unFollow").btn.btn-default

			div.row
				each season in show.seasons
					div.col-sm-4
						div.thumbnail.clearfix
							img.pull-left(src='https://image.tmdb.org/t/p/w185#{season.poster_path}')
							div.caption
								h4 Season number #{season.season_number}
								p Episodes: #{season.episode_count}
								a(href='/seasondetail/' + show.id +"/"+ season.season_number).btn.btn-default info