extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-10
				#user
					p: #[span Welcome #{user.firstName}] #[a(href='/signout', title='sign out') Sign out]					
						//-div.signup-wall
							ul.user-details
								li Username ---> #{user.username}
								li Email    ---> #{user.email}
								li First Name ---> #{user.firstName} 
								li Last Name ---> #{user.lastName}
		div.row
			for sh in show
				div.col-sm-6
						p #{sh.SeriesName}
						img(src='http://thetvdb.com/banners/#{sh.banner}', width='500', height='150')
									
